@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Raleway:200,300);

html,
body {
  height: 100%;
}

// ----- Colors ---------------------------------------------------------------
$blue02: #021828;
$blue01: #042844;
$blue0: #0B3C61;
$blue1: #0F4A78;
$blue2: #0B5A97;

// color scheme:
// http://paletton.com/#uid=53x0X0kuiiUvNtru4nlwudexs7O
// ----------------------------------------------------------------------------

.pane {
  height: 100%;

  &.landing { background: $blue0; }
}

.vcenter {
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.vcenter-target {
  display: inline-block;
  vertical-align: middle;
}

a.icon {
  margin: 2px;
  padding: 15px;
  border-radius: 8px;

  &:hover {
    background: rgba(0,0,0,0.1);
  }
}

.under-construction {
  position: absolute;
  width: 180px;
  height: 180px;
  top: 0;
  right: 0;
}

// ----- Typography -----------------------------------------------------------
.pane {
  font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  font-weight: 200;
  a { color: #fff; }

  @media(max-width: 768px) {
    .title { font-size: 3rem; }
    .links { font-size: 1.5rem; }
  }
  @media(min-width: 768px) {
    .title { font-size: 4rem; }
    .links { font-size: 1.75rem; }
  }
  @media(min-width: 992px) {
    .title { font-size: 5rem; }
    .links { font-size: 2rem; }
  }
  @media(min-width: 1200px) {
    .title { font-size: 6rem; }
    .links { font-size: 2.5rem; }
  }
}
