doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Jake Zimmerman
    meta(name="description", content="Computer Science student, web developer, open source enthusiast, command line junkie, writer.")

    //- See also: /favicon.ico
    link(rel="icon", href="/img/favicon.png")

    link(rel="stylesheet", href="/css/screen.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")

    link(rel="canonical", href="https://jez.io/")

    script
      :coffee-script
        # bling.coffee
        window.$ = document.querySelector.bind document
        Node.prototype.on = window.on = (name, fn) ->
          this.addEventListener name, fn
        NodeList.prototype.__proto__ = Array.prototype
        NodeList.prototype.on = NodeList.prototype.addEventListener = (name, fn) ->
          @forEach (elem, i) -> elem.on name, fn

        window.on 'DOMContentLoaded', ->
          pane = $('.landing-pane')
          pane.style.height = '' + pane.clientHeight + 'px'
  body
    .landing-pane.vcenter
      .vcenter-target
        .title Jake Zimmerman
        .links
          a.icon(href="mailto:jake@zimmerman.io")
            i.fa.fa-envelope-o
          | &nbsp;
          a.icon(href="https://github.com/jez")
            i.fa.fa-github-square
          | &nbsp;
          a.icon(href="http://blog.jez.io")
            i.fa.fa-bookmark
          | &nbsp;
          a.icon(href="/resume/")
            i.fa.fa-file-pdf-o
    .content#about
      .wrapper
        include:marked(smartypants=true) about.md
