*,
*::before,
*::after {
  box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

html,
body {
  background: #002b36;
  color: #839496;
  font-size: 14px;
  /* Largest value of line height such that box-drawing characters touch. */
  line-height: 1.35;
  font-family: Menlo, Monaco, monospace;
  padding: 0;
}

::selection {
  background: rgba(7, 54, 66, 0.99);
}

main {
  box-sizing: content-box;
  max-width: 80ch;
  margin: 0 auto;
  padding-left: 2ch;
  padding-right: 2ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  margin: 1.35rem 0;
  color: #cb4b16;
  font-weight: normal;
}

h1,
h2 {
  margin-top: 2.7rem;
}

h1 {
  font-size: 2rem;
}


h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  color: #859900;
}

h1::before { content: '# '; }
h2::before { content: '## '; }
h3::before { content: '### '; }
h4::before { content: '#### '; }
h5::before { content: '##### '; }
h6::before { content: '###### '; }

p {
  margin: 1.35rem 0;
}

strong {
  color: #cb4b16;
  font-weight: normal;
}

code {
  color: #2aa198;
}

a {
  color: #859900;
  text-decoration: none;
}
a:hover {
  color: #6c71c4;
}
a:not(.sourceLine)::before {
  content: '[';
}
a:not(.sourceLine)::after {
  content: ']';
}
a:hover::before,
a:hover::after {
  color: #859900;
}

blockquote {
  margin: 1.35rem 0;
  position: relative;
  padding-left: 2ch;
  overflow: hidden;
  color: #268bd2;
  font-style: italic;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote em {
  font-style: normal;
}
blockquote:after {
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
}

ol, ul {
  list-style: none;
  margin: 1.35rem 0;
  padding: 0;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

li {
  position: relative;
}
ul > li {
  padding-left: 2ch;
}
ol > li {
  padding-left: 4ch;
}

li:after {
  position: absolute;
  top: 0;
  left: 0;
  color: #268bd2;
}

ul > li:after {
  content: '•';
}

ol {
  counter-reset: ol;
}
ol > li:after {
  content: counter(ol) ".";
  counter-increment: ol;
}

hr {
  position: relative;
  height: 1.35rem;
  margin: 1.35rem 0;
  border: 0;
}

hr:after {
  content: '- - - - -';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 9ch;
  color: #dc322f;
}

/* ---- codeblocks ---------------------------------------------------------- */
pre,
code {
  font-family: Menlo, Monaco, monospace;
}

div.sourceCode,
pre:not(.sourceCode) {
  background: #073642;
  margin: 1.35rem -2ch;
  padding: 1.35rem 2ch;
  overflow-x: auto;
}

div.sourceCode ::selection,
pre:not(.sourceCode) ::selection {
  background: rgba(0, 43, 54, 0.99);
}

pre code {
  color: #839496;
}

a.sourceLine {
  display: inline-block;
  color: inherit;
  text-decoration: inherit;
}

a.sourceLine::before {
  text-decoration: none;
}

a.sourceLine:empty {
  height: 1.35rem;
  position: absolute;
}

code.sourceCode {
  white-space: pre;
  position: relative;
}

/* https://github.com/jez/tufte-pandoc-css/blob/76e7b68630c7f681b7f6fc6acf8e670338cf43e6/pandoc-solarized.css */
/* But with dark colors instead of light */
code span.kw { color: #859900; font-weight: normal; font-style: normal; } /* Keyword */
code span.dt { color: #B58900; font-weight: normal; font-style: normal; } /* DataType */
code span.dv { color: #2AA198; font-weight: normal; font-style: normal; } /* DecVal */
code span.bn { color: #2AA198; font-weight: normal; font-style: normal; } /* BaseN */
code span.fl { color: #2AA198; font-weight: normal; font-style: normal; } /* Float */
code span.ch { color: #2AA198; font-weight: normal; font-style: normal; } /* Char */
code span.st { color: #2AA198; font-weight: normal; font-style: normal; } /* String */
code span.co { color: #586e75; font-weight: normal; font-style: italic; } /* Comment */
code span.ot { color: #268BD2; font-weight: normal; font-style: normal; } /* Other */
code span.al { color: #DC322F; font-weight: normal; font-style: normal; } /* Alert */
code span.fu { color: #268BD2; font-weight: normal; font-style: normal; } /* Function */
code span.er { color: #DC322F; font-weight: normal; font-style: normal; } /* Error */
code span.wa { color: #CB4B16; font-weight: normal; font-style: italic; } /* Warning */
code span.cn { color: #2AA198; font-weight: normal; font-style: normal; } /* Constant */
code span.sc { color: #DC322F; font-weight: normal; font-style: normal; } /* SpecialChar */
code span.vs { color: #839496; font-weight: normal; font-style: normal; } /* VerbatimString */
code span.ss { color: #DC322F; font-weight: normal; font-style: normal; } /* SpecialString */
code span.im { color: #839496; font-weight: normal; font-style: normal; } /* Import */
code span.va { color: #268BD2; font-weight: normal; font-style: normal; } /* Variable */
code span.cf { color: #859900; font-weight: normal; font-style: normal; } /* ControlFlow */
code span.op { color: #859900; font-weight: normal; font-style: normal; } /* Operator */
code span.bu { color: #839496; font-weight: normal; font-style: normal; } /* BuiltIn */
code span.ex { color: #839496; font-weight: normal; font-style: normal; } /* Extension */
code span.pp { color: #CB4B16; font-weight: normal; font-style: normal; } /* Preprocessor */
code span.at { color: #839496; font-weight: normal; font-style: normal; } /* Attribute */
code span.do { color: #586e75; font-weight: normal; font-style: italic; } /* Documentation */
code span.an { color: #586e75; font-weight: normal; font-style: italic; } /* Annotation */
code span.cv { color: #586e75; font-weight: normal; font-style: italic; } /* CommentVar */
code span.in { color: #586e75; font-weight: normal; font-style: italic; } /* Information */
