@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600);
/* line 9, ../sass/main.scss */
.reset {
  color: white;
}

/* line 13, ../sass/main.scss */
.light {
  font-weight: 200;
}

/* line 17, ../sass/main.scss */
a.brand-success {
  color: #b8d41e;
}

/* line 21, ../sass/main.scss */
a.brand-success:hover {
  color: #c9e338;
}

/* line 25, ../sass/main.scss */
.no-margin {
  margin-left: 0px;
  margin-right: 0px;
}

/* line 30, ../sass/main.scss */
.site-header {
  font-size: 72px;
}

/* line 34, ../sass/main.scss */
.display-table {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

/* line 39, ../sass/main.scss */
.well.project {
  height: 200px;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}

/* line 46, ../sass/main.scss */
.well.project:hover {
  box-shadow: inset 0 0 20px black;
}

/* line 50, ../sass/main.scss */
.well.project:active {
  box-shadow: inset 0 0 30px black;
}

/* line 54, ../sass/main.scss */
.well.project.selected {
  box-shadow: 0 0 10px 5px white;
}

/* line 58, ../sass/main.scss */
.well.project h3 {
  margin: 0;
}

/*
#texdown-image { margin-top: 50px; }
#print-image { margin-top: 28px; }
#gitorial-image { margin-top: 30px; }

#sdnb-logo, #kumon-logo { padding-top: 50px; }
#zimms-logo { padding-top: 25px; }
*/
/* line 72, ../sass/main.scss */
section {
  margin-top: 97px;
  background: #222;
  padding-bottom: 20px;
  box-shadow: inset 0 0 10px 5px #000;
  display: none;
}

@media (min-width: 1280px) {
  /* line 81, ../sass/main.scss */
  section {
    height: 640px;
  }
}
@media (max-width: 992px) {
  /* line 87, ../sass/main.scss */
  section {
    display: block;
    margin-top: 10px;
  }
}
/* line 93, ../sass/main.scss */
footer {
  margin-top: 40px;
  padding-top: 5px;
  background: #222;
  height: 50px;
}
