@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a { color: #ddd; }

.blue { color: rgb(111, 168, 220); }
.red { color: rgb(224, 102, 102); }
.purple { color: rgb(142, 124, 195); }
.green { color: rgb(147, 195, 125); }
.yellow { color: rgb(255, 217, 102); }
.link-blue a { color: rgb(111, 168, 220); }
.link-red a { color: rgb(224, 102, 102); }
.link-purple a { color: rgb(142, 124, 195); }
.link-green a { color: rgb(147, 195, 125); }
.link-yellow a { color: rgb(255, 217, 102); }
a:hover { color: white; }

/* ==========================================================================
 * sticky nav
 * ========================================================================== */

html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
  background-color: #606060;
  background-image: url(/assets/img/pittsburgh-skyline.png);
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Electrolize", sans-serif;
}

.jumbotron {
  position: absolute;
  top: 13%;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  width: 100%;
}

.jumbotron-header {
  padding-top: 90px;
  padding-bottom: 90px;
}

.jumbotron-header h1 {
  padding-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgba(48,48,48,.5);
  padding-top: 10px;
  padding-bottom: 2px;
  color: #999;
}

@media (max-width: 767px) {
  .jumbotron {
    top: 3%;
    margin-top: 50px;
  }
  .jumbotron-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
